<section id="about" class="about-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="box-shadow-full">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-sm-6 col-md-5">
                    <div class="about-img">
                      <img src="../assets/devfolio-master/img/meriem.png" class="img-fluid rounded b-shadow-a"
                        alt="">
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-7">
                    <div class="about-info">
                      <p><span class="title-s">Name: </span> <span>Hersi Meriem</span></p>
                      <p><span class="title-s">Profile: </span> <span>Software Developer</span></p>
                      <p><span class="title-s">Email: </span> <span>herssimeriem@gmail.com</span></p>
                    </div>
                  </div>
                </div>
                <div class="skill-mf">
                  <h1 class="title-s"> Hard skills :</h1>
                 <div class="card-skill">
                  <div class="skills-container">
                    <div class="skill">
                      <img src="../assets/devfolio-master/img/html.png" alt="">
                      <span>HTML</span>
                    </div>
                    <div class="skill">
                      <img src="../assets/devfolio-master/img/css.png" alt="">
                      <span>CSS </span>
                    </div>
                    <div class="skill">
                      <img src="../assets/devfolio-master/img/js.png" alt="">
                      <span> JavaScript</span>
                    </div>
                    <div class="skill">
                      <img src="../assets/devfolio-master/img/PHP.png" alt="">
                      <span>PHP</span>
                    </div>
                    <div class="skill">
                      <img src="../assets/devfolio-master/img/226777.png" alt="">
                      <span>Java</span>
                    </div>
                    <div class="skill">
                      <img src="../assets/devfolio-master/img/Python-logo-notext.svg.png" alt="">
                      <span>Python</span>
                    </div>
                    <div class="skill">
                      <img src="../assets/devfolio-master/img/ai.png" alt="">
                      <span>Artificial Intelligence</span>
                    </div>
                    <div class="skill">
                      <img src="../assets/devfolio-master/img/android-studio-icon.webp" alt="">
                      <span>Android studio</span>
                    </div>
                    <div class="skill">
                      <img src="../assets/devfolio-master/img/logo-angular.png" alt="">
                      <span>Angular</span>
                    </div>
                    <div class="skill">
                      <img src="../assets/devfolio-master/img/sf.webp" alt="">
                      <span> Symfony </span>
                    </div>
                    <div class="skill">
                        <img src="../assets/devfolio-master/img/figma.png" alt="">
                        <span>Figma </span>
                      </div>
                    <div class="skill">
                      <img src="../assets/devfolio-master/img/mysql.webp" alt="">
                      <span>MySQL</span>
                    </div>
                    <div class="skill">
                      <img src="../assets/devfolio-master/img/firebase.webp" alt="">
                      <span>Firebase</span>
                    </div>
                    <div class="skill">
                      <img src="../assets/devfolio-master/img/Visual_Studio_Code_1.35_icon.svg.png" alt="">
                      <span>VsCode </span>
                    </div>
                  </div>
                 </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="about-me pt-4 pt-md-0">
                    <div class="title-box-2">
                        <h5 class="title-left">About Me</h5>
                    </div>
                    <p class="lead about-description">
                      As a beginner <strong>software developer</strong> and a student in IT management with a specialization in Business Intelligence, I design and develop dynamic web applications, from front-end user interfaces to back-end databases. My goal is to create seamless, efficient,
                      and scalable solutions that enhance user experience and drive business success.
   
                    </p>
                    <h4> Soft skills : </h4>
                  <p class="lead">
                    Honest,  Responsible, Passionate, Creativity, Teamwork and Adaptability.
                    </p>
                </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>