<!--/ Nav Star /-->
<nav class="navbar navbar-b navbar-trans navbar-expand-md fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll" href="#page-top">Portfolio</a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
      aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <div class="navbar-collapse collapse justify-content-end" id="navbarDefault">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link js-scroll active" href="#home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!--/ Nav End /-->

<!--/ Intro Skew Star /-->
<div id="home" class="intro route bg-image" style="background-image: url(../assets/devfolio-master/img/pexels-andrew-2312369.jpg)">
  <div class="overlay-itro"></div>
  <div class="intro-content display-table">
    <div class="table-cell">
      <div class="container">
        <!--<p class="display-6 color-d">Hello, world!</p>-->
        <h1 class="intro-title mb-4">Hi, I am Hersi Meriem</h1>
        <p class="intro-subtitle"><span class="text-slider-items"> Full stack developer </span> <strong class="text-slider"></strong>
        </p>
         <!--<p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
      </div>
    </div>
  </div>
</div>
<!--/ Intro Skew End /-->

<section id="about" class="about-mf sect-pt4 route">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="box-shadow-full">
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-sm-6 col-md-5">
                  <div class="about-img">
                    <img src="../assets/devfolio-master/img/meriem.png" class="img-fluid rounded b-shadow-a"
                      alt="">
                  </div>
                </div>
                <div class="col-sm-6 col-md-7">
                  <div class="about-info">
                    <p><span class="title-s">Name: </span> <span>Hersi Meriem</span></p>
                    <p><span class="title-s">Profile: </span> <span>full stack developer</span></p>
                    <p><span class="title-s">Email: </span> <span>herssimeriem@gmail.com</span></p>
                  </div>
                </div>
              </div>
              <div class="skill-mf">
                <h1 class="title-s"> Hard skills :</h1>
               <div class="card-skill">
                <div class="skills-container">
                  <div class="skill">
                    <img src="../assets/devfolio-master/img/js.png" alt="">
                    <span> JavaScript</span>
                  </div>
                  <div class="skill">
                    <img src="../assets/devfolio-master/img/PHP.png" alt="">
                    <span>PHP</span>
                  </div>
                  <div class="skill">
                    <img src="../assets/devfolio-master/img/html.png" alt="">
                    <span>HTML</span>
                  </div>
                  <div class="skill">
                    <img src="../assets/devfolio-master/img/css.png" alt="">
                    <span>CSS </span>
                  </div>
                  <div class="skill">
                    <img src="../assets/devfolio-master/img/logo-angular.png" alt="">
                    <span>Angular</span>
                  </div>
                  <div class="skill">
                    <img src="../assets/devfolio-master/img/sf.webp" alt="">
                    <span> Symfony </span>
                  </div>
                  <div class="skill">
                    <img src="../assets/devfolio-master/img/ECLIPSE.png" alt="">
                    <span> Eclipse</span>
                  </div>
                  <div class="skill">
                    <img src="../assets/devfolio-master/img/NetBeans-Logo.wine.png" alt="">
                    <span>NetBeans</span>
                  </div>
                  <div class="skill">
                    <img src="../assets/devfolio-master/img/mysql.webp" alt="">
                    <span>MySQL</span>
                  </div>
                  <div class="skill">
                    <img src="../assets/devfolio-master/img/firebase.webp" alt="">
                    <span>Firebase</span>
                  </div>
                  <div class="skill">
                    <img src="../assets/devfolio-master/img/Visual_Studio_Code_1.35_icon.svg.png" alt="">
                    <span>VsCode </span>
                  </div>
                  <div class="skill">
                    <img src="../assets/devfolio-master/img/images.jpg" alt="">
                    <span>GitHub</span>
                  </div>
                </div>
               </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="about-me pt-4 pt-md-0">
                <div class="title-box-2">
                  <h5 class="title-left">
                    About me
                  </h5>
                </div>
                <p class="lead">
                  As a full-stack developer, I have a comprehensive skill set, which enables me to seamlessly transition between front-end and back-end development.
                   So, I am adept at building dynamic, responsive web applications from concept to deployment.
                </p>
                <h4> Soft skills : </h4>
                <p class="lead">
                  Honest,  Responsible, Passionate, Creativity, Teamwork and Adaptability .
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ Section Contact-Footer Star /-->
<section class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url(img/overlay-bg.jpg)">
  <div class="overlay-mf"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="contact-mf">
          <div id="contact" class="box-shadow-full">
            <div class="row">
              <div class="col-md-6">
                <div class="title-box-2">
                  <h5 class="title-left">
                    Send a message
                  </h5>
                </div>
                <div>
                  <form action="" method="post" role="form" class="contactForm">
                    <div id="sendmessage">Your message has been sent. Thank you!</div>
                    <div id="errormessage"></div>
                    <div class="row">
                      <div class="col-md-12 mb-3">
                        <div class="form-group">
                          <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                            data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                          <div class="validation"></div>
                        </div>
                      </div>
                      <div class="col-md-12 mb-3">
                        <div class="form-group">
                          <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                            data-rule="email" data-msg="Please enter a valid email" />
                          <div class="validation"></div>
                        </div>
                      </div>
                      <div class="col-md-12 mb-3">
                        <div class="form-group">
                          <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                            data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                          <div class="validation"></div>
                        </div>
                      </div>
                      <div class="col-md-12 mb-3">
                        <div class="form-group">
                          <textarea class="form-control" name="message" rows="5" data-rule="required"
                            data-msg="Please write something for us" placeholder="Message"></textarea>
                          <div class="validation"></div>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <button type="submit" class="button button-a button-big button-rouded">Send Message </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-md-6">
                <div class="title-box-2 pt-4 pt-md-0">
                </div>
                <div class="more-info">
                  <ul class="list-ico">
                    <li><span class="ion-ios-location"></span> Mahdia tourist area </li>
                    <li><span class="ion-ios-telephone"></span> +216 99402312</li>
                    <li><span class="ion-email"></span> herssimeriem@gmail.com</li>
                  </ul>
                </div>
                <div class="socials">
                  <ul>
                    <li><a href="https://www.facebook.com/hersi.meriem?mibextid=ZbWKwL"><span class="ico-circle"><i class="ion-social-facebook"></i></span></a></li>
                    <li><a href="https://www.linkedin.com/in/hersi-meriem-4475bb265/"><span class="ico-circle"><i class="ion-social-linkedin"></i></span></a></li>
                    <li><a href=""><span class="ico-circle"><i class="ion-social-github"></i></span></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="copyright-box">
            <p class="copyright">&copy; Copyright <strong>Hersi Meriem </strong>. All Rights Reserved</p>
            <div class="credits">
              <!--
                All the links in the footer should remain intact.
                You can delete the links only if you purchased the pro version.
                Licensing information: https://bootstrapmade.com/license/
                Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=DevFolio
              -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</section>
<!--/ Section Contact-footer End /-->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
<div id="preloader"></div>