<!--/ Nav Star /-->
<nav class="navbar navbar-b navbar-trans navbar-expand-md fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll" href="#page-top">Portfolio</a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
      aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <div class="navbar-collapse collapse justify-content-end" id="navbarDefault">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link js-scroll active" href="#home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll" href="#about">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!--/ Nav End /-->

<!--/ Intro Skew Star /-->
<div id="home" class="intro route bg-image" style="background-image: url(../assets/devfolio-master/img/pexels-andrew-2312369.jpg)">
  <div class="overlay-itro"></div>
  <div class="intro-content display-table">
    <div class="table-cell">
      <div class="container">
        <p class="intro-subtitle">
          <span class="dynamic-text"><i>Hi, I'm Hersi Meriem  <br> Software Developer</i> </span>
        </p>
      </div>
    </div>
  </div>
</div>

<app-about></app-about>

<footer class="footer text-center">
  <div class="container text-center">
    <div class="more-info">
      <ul class="list-ico">
        <li><span class="ion-ios-location"></span> Mahdia tourist area </li>
        <li><span class="ion-ios-telephone"></span> +216 99402312</li>
        <li><span class="ion-email"></span> herssimeriem@gmail.com</li>
      </ul>
    </div>
    <div class="socials">
      <ul>
        <li><a href="https://www.facebook.com/hersi.meriem?mibextid=ZbWKwL"><span class="ico-circle"><i class="ion-social-facebook"></i></span></a></li>
        <li><a href="https://www.linkedin.com/in/hersi-meriem-4475bb265/"><span class="ico-circle"><i class="ion-social-linkedin"></i></span></a></li>
        <li><a href=""><span class="ico-circle"><i class="ion-social-github"></i></span></a></li>
      </ul>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="copyright-box">
          <p class="copyright">&copy; Copyright <strong>Hersi Meriem</strong>. All Rights Reserved</p>
        </div>
      </div>
    </div>
  </div>
</footer>


<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
<div id="preloader"></div>

