<!--/ Nav Star /-->
<nav class="navbar navbar-b navbar-trans navbar-expand-md fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll" href="#page-top">Portfolio</a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
      aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <div class="navbar-collapse collapse justify-content-end" id="navbarDefault">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link js-scroll active" href="#home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll" href="#about">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!--/ Nav End /-->

<!--/ Intro Skew Star /-->
<div id="home" class="intro route bg-image" style="background-image: url(../assets/devfolio-master/img/pexels-andrew-2312369.jpg)">
  <div class="overlay-itro"></div>
  <div class="intro-content display-table">
    <div class="table-cell">
      <div class="container">
        <p class="intro-subtitle">
          <span class="dynamic-text"><i>Hi, I'm Hersi Meriem  <br> Software Developer</i> </span>
        </p>
      </div>
    </div>
  </div>
</div>


<section id="about" class="about-mf sect-pt4 route">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="box-shadow-full">
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-sm-6 col-md-5">
                  <div class="about-img">
                    <img src="../assets/devfolio-master/img/meriem.png" class="img-fluid rounded b-shadow-a"
                      alt="">
                  </div>
                </div>
                <div class="col-sm-6 col-md-7">
                  <div class="about-info">
                    <p><span class="title-s">Name: </span> <span>Hersi Meriem</span></p>
                    <p><span class="title-s">Profile: </span> <span>Software Developer</span></p>
                    <p><span class="title-s">Email: </span> <span>herssimeriem@gmail.com</span></p>
                  </div>
                </div>
              </div>
              <div class="skill-mf">
                <h1 class="title-s"> Hard skills :</h1>
               <div class="card-skill">
                <div class="skills-container">
                  <div class="skill">
                    <img src="../assets/devfolio-master/img/html.png" alt="">
                    <span>HTML</span>
                  </div>
                  <div class="skill">
                    <img src="../assets/devfolio-master/img/css.png" alt="">
                    <span>CSS </span>
                  </div>
                  <div class="skill">
                    <img src="../assets/devfolio-master/img/js.png" alt="">
                    <span> JavaScript</span>
                  </div>
                  <div class="skill">
                    <img src="../assets/devfolio-master/img/PHP.png" alt="">
                    <span>PHP</span>
                  </div>
                  <div class="skill">
                    <img src="../assets/devfolio-master/img/226777.png" alt="">
                    <span>Java</span>
                  </div>
                  <div class="skill">
                    <img src="../assets/devfolio-master/img/Python-logo-notext.svg.png" alt="">
                    <span>Python</span>
                  </div>
                  <div class="skill">
                    <img src="../assets/devfolio-master/img/ai.png" alt="">
                    <span>Artificial Intelligence</span>
                  </div>
                  <div class="skill">
                    <img src="../assets/devfolio-master/img/android-studio-icon.webp" alt="">
                    <span>Android studio</span>
                  </div>
                  <div class="skill">
                    <img src="../assets/devfolio-master/img/logo-angular.png" alt="">
                    <span>Angular</span>
                  </div>
                  <div class="skill">
                    <img src="../assets/devfolio-master/img/sf.webp" alt="">
                    <span> Symfony </span>
                  </div>
                  <div class="skill">
                    <img src="../assets/devfolio-master/img/mysql.webp" alt="">
                    <span>MySQL</span>
                  </div>
                  <div class="skill">
                    <img src="../assets/devfolio-master/img/firebase.webp" alt="">
                    <span>Firebase</span>
                  </div>
                  <div class="skill">
                    <img src="../assets/devfolio-master/img/Visual_Studio_Code_1.35_icon.svg.png" alt="">
                    <span>VsCode </span>
                  </div>
                </div>
               </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="about-me pt-4 pt-md-0">
                  <div class="title-box-2">
                      <h5 class="title-left">About Me</h5>
                  </div>
                  <p class="lead about-description">
                    As a beginner <strong>software developer</strong> and a student in IT management with a specialization in Business Intelligence, I design and develop dynamic web applications, from front-end user interfaces to back-end databases. My goal is to create seamless, efficient,
                    and scalable solutions that enhance user experience and drive business success.
 
                  </p>
                  <h4> Soft skills : </h4>
                <p class="lead">
                  Honest,  Responsible, Passionate, Creativity, Teamwork and Adaptability.
                  </p>
              </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="projects" class="projects-mf route">
  <div class="container">
    <!-- Titre de la section -->
    <div class="row">
      <div class="col-sm-12">
        <div class="title-box text-center">
          <h3 class="title-a">Mes Projets</h3>
          <p class="subtitle-a">Découvrez quelques-unes de mes réalisations créatives et innovantes.</p>
          <div class="line-mf"></div>
        </div>
      </div>
    </div>

    <!-- Section des projets -->
    <div class="row">
      <!-- Projet 1 -->
      <div class="col-md-4">
        <div class="project-box">
          <div class="project-img">
            <img src="path/to/your/project-image1.jpg" alt="Aperçu du projet 1" class="img-fluid">
          </div>
          <div class="project-content">
            <h5 class="p-title">Nom du Projet 1</h5>
            <p class="p-description">Description brève de ce projet mettant en valeur ses fonctionnalités et technologies.</p>
            <a href="lien-vers-projet-1" class="p-link" target="_blank" rel="noopener noreferrer">Voir le projet</a>
          </div>
        </div>
      </div>

      <!-- Projet 2 -->
      <div class="col-md-4">
        <div class="project-box">
          <div class="project-img">
            <img src="path/to/your/project-image2.jpg" alt="Aperçu du projet 2" class="img-fluid">
          </div>
          <div class="project-content">
            <h5 class="p-title">Nom du Projet 2</h5>
            <p class="p-description">Description brève de ce projet mettant en avant les aspects innovants et les solutions apportées.</p>
            <a href="lien-vers-projet-2" class="p-link" target="_blank" rel="noopener noreferrer">Voir le projet</a>
          </div>
        </div>
      </div>

      <!-- Projet 3 -->
      <div class="col-md-4">
        <div class="project-box">
          <div class="project-img">
            <img src="path/to/your/project-image3.jpg" alt="Aperçu du projet 3" class="img-fluid">
          </div>
          <div class="project-content">
            <h5 class="p-title">Nom du Projet 3</h5>
            <p class="p-description">Description succincte de ce projet en mettant l’accent sur les défis techniques surmontés.</p>
            <a href="lien-vers-projet-3" class="p-link" target="_blank" rel="noopener noreferrer">Voir le projet</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="footer text-center">
  <div class="container text-center">
    <div class="more-info">
      <ul class="list-ico">
        <li><span class="ion-ios-location"></span> Mahdia tourist area </li>
        <li><span class="ion-ios-telephone"></span> +216 99402312</li>
        <li><span class="ion-email"></span> herssimeriem@gmail.com</li>
      </ul>
    </div>
    <div class="socials">
      <ul>
        <li><a href="https://www.facebook.com/hersi.meriem?mibextid=ZbWKwL"><span class="ico-circle"><i class="ion-social-facebook"></i></span></a></li>
        <li><a href="https://www.linkedin.com/in/hersi-meriem-4475bb265/"><span class="ico-circle"><i class="ion-social-linkedin"></i></span></a></li>
        <li><a href=""><span class="ico-circle"><i class="ion-social-github"></i></span></a></li>
      </ul>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="copyright-box">
          <p class="copyright">&copy; Copyright <strong>Hersi Meriem</strong>. All Rights Reserved</p>
        </div>
      </div>
    </div>
  </div>
</footer>


<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
<div id="preloader"></div>

